@import 'reset';

body, * { font: 14px Sans-Serif; position: relative; }

@-webkit-keyframes pulsate {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

body {
  background: url('/media/images/lava-tile.jpg') repeat;
  -webkit-animation: pulsate 1s linear 0s infinite alternate;
}

#forkme {
  position: absolute; top: 0; right: 0; z-index: 9001;

  img { 
    position: relative; 
    z-index: 9002;
    opacity: 0.2;

    &:hover { opacity: 1 };
  }
}

