@import 'reset';

body, * { font: 14px Sans-Serif; position: relative; }

#background, #foreground { position: absolute; top: 0; left: 0; }

#background { z-index: 100; }
#foreground { z-index: 200; }
#hud { z-index: 300; }
