@import 'reset';

body, * {
  font: 14px Sans-Serif; position: relative;
  cursor: url('/media/images/green-target.png') 25 25, auto;
  -webkit-user-select: none;
}

body {
  background: url('/media/images/lava-tile.jpg') repeat;
  background: url('/media/images/rock-tile.jpg') repeat;
}

#forkme {
  position: absolute; top: 0; right: 0; z-index: 9001;

  img {
    position: relative;
    z-index: 9002;
    opacity: 0.2;

    &:hover { opacity: 1 };
  }
}

#container, #container * {
  /* this is extremely important for performance:
   * Kinetic easily drops the framerate below 20 because of the absurd
   * amount of mouse event handlers it adds to each of its nodes.
   */
  pointer-events: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#background { z-index: 100; }
#foreground { z-index: 110; }
